*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.slika{
    float: left;
    width: 50%;
    background-image: url(./Picture1.jpg);
    background-size: cover;
    height: 750px;
}

.container{
    float: right;
    width: 50%;
    height: 750px;
    background-color: #f6baf6;
    padding-left: 250px;
    padding-top: 70px;
    
}


.naslov {
    font-size: 20px;
    color: #a407a4;
    font-weight: bold;
    padding: 10px 0;
}

.naslov2 {
    font-size: 16px;
    color: #a407a4; 
    padding: 10px 0;
}

label {
    font-weight: bold;
    font-size: 14px;
}

input {
    margin-bottom: 4px;
}

.pokloni {
    font-weight: bold;
}

.pokloni p {
    padding: 4px;
}

.dugmad input {
    margin-top: 18px;
    font-size: 16px;
    padding: 2px;
}
img {
    width: 40px;
}
